@font-face {
    font-family: 'Urban Jungle';
    src: url('fonts/UrbanJungle.otf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* * {
    border: 1px solid red;
} */

body {
    font-family: Arial, sans-serif;
    background-color: rgb(186, 186, 186);
    color: white;
    padding-top: 80px;
}

.navbar {
    font-family: 'Urban Jungle', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1.4rem 3%;
    background-color: rgb(49, 49, 49);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-size: 20px;
}

.navbar .logo {
    font-size: 4rem;
    color: white;
    text-decoration: none;
}

.navbar .logo span {
    color: rgb(217, 176, 127);
    margin-right: 10px;
}

.navbar .navbar-button {
    display: flex;
    gap: 1rem;
    margin-left: 275px;
}

.navbar .navbar-button a {
    color: white;
    display: inline-block;
    font-size: 200%;
    display: flex;
    align-items: center;
}

.navbar .navbar-button a:hover {
    color: rgb(217, 176, 127);
    transition: 0.2s;
}

.navbar .navbar-extra {
    display: flex;
}

#menu {
    display: none;
}

.navbar .navbar-extra #custom {
    font-size: 125%;
    align-items: center;
    background-color: rgb(183, 55, 55);
    padding: 1rem 1rem;
    border-radius: 15px;
    display: inline-block;
    transition: 0.2s;
    width: 250px;
    max-height: 100px;
    text-align: center;
}

.navbar .navbar-extra #custom:hover {
    color: white;
    background-color: rgb(167, 7, 7);
}

.navbar .navbar-extra a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
}

.navbar .navbar-extra a:hover {
    color: rgb(217, 176, 127);
    transition: 0.2s;
}

.search-bar-class {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #333;
}

.search-bar {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    width: 300px;
    height: 50px;
    transition: width 0.4s ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 0.5em;
    border: none;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #4f4f4f;
    min-width: 360px;
    padding: 25px 0 25px 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu.show {
    display: block;
    opacity: 88%;
}

/* Remove dropdown caret/triangle */
.dropdown-toggle::after {
    display: none;
}

.dropdown-menu a:hover {
    background-color: #333;
    /* Dark background on hover */
    color: white;
}

/* Posisi ikon profil di navbar */
.profile-icon {
    margin-top: 16px;
    display: inline-block;
}

.category-title {
    font-family: 'Urban Jungle', sans-serif;
    font-size: 5rem;
    color: white;
    margin-bottom: 2rem;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid #ffffff;
    width: 70rem;
}

.products {
    text-decoration: none;
}

.product-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.product-card {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 1rem;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-name {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.product-price {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.all-conta {
    display: flex;
}

.product-section {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.filter-section {
    position: fixed;
    color: black;
    width: 20%;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    max-width: 300px;
    margin-top: 100px;
    left: 5%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.filter-section h3 {
    font-family: 'Urban Jungle', sans-serif;
    color: rgb(239, 164, 72);
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.3em;
}

.checkbox-container input[type="checkbox"] {
    margin-top: 0.7em;
    margin-right: 0.8em;
}

.checkbox-container label {
    font-size: 1em;
    margin-right: 20em;
}

.filter-section input {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 0.8em;
    border: 0.1em solid #ddd;
    border-radius: 0.2em;
    box-sizing: border-box;
}

.filter-section button {
    width: 100%;
    padding: 0.8em;
    background-color: rgb(217, 176, 127);
    color: white;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
}

.filter-section button:hover {
    background-color: rgb(239, 164, 72);
    transition: 0.1s;
}

.cart-dropdown {
    right: auto;
    left: auto;
    font-family: Arial, sans-serif;  /* Mengubah font menjadi Arial */
    font-size: 8px; /* Mengatur ukuran font lebih kecil */
}

.cart-dropdown .dropdown-item {
    font-family: Arial, sans-serif; /* Menetapkan font Arial pada item dropdown */
    font-size: 8px; /* Ukuran font pada item dropdown */
}

/* Menyesuaikan ukuran gambar dalam cart */
.cart-item-image {
    width: 80px; 
    height: 80px; 
    object-fit: cover;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .navbar .logo {
        font-size: 2rem;
    }

    .navbar .logo span {
        margin-right: 0rem;
    }

    .navbar .navbar-button {
        gap: 1rem;
        margin-left: 25px;
    }

    .navbar .navbar-button a {
        font-size: 1.25rem;
    }

    .navbar .navbar-extra #custom {
        font-size: 0.7rem;
        width: 125px;
        max-height: 50px;
    }

    .search-bar {
        padding: 0.5rem;
        border: none;
        border-radius: 0.3rem;
        font-size: 0.8rem;
        height: 35px;
        width: 150px;
    }

    .dropdown-content {
        min-width: 200px;
        padding: 10px 0 10px 0;
    }

    .category-title {
        font-size: 3rem;
        margin: 0 auto;
        margin-top: 2rem;
        width: 42rem;
    }

    .product-container {
        max-width: 750px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .product-card {
        width: 200px;
    }

    .product-card:hover {
        transform: scale(1.05);
    }

    .product-name {
        font-size: 1rem;
    }

    .product-price {
        font-size: 1rem;
    }

    .product-section {
        margin-left: 200px;
    }

    .filter-section {
        font-size: 0.8em;
        left: 2em;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 75%;
    }

    .navbar .logo {
        font-size: 3rem;
        color: white;
    }

    #menu {
        display: inline-block;
        text-decoration: none;
        color: white;
    }

    .navbar .navbar-button {
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        top: 100%;
        right: -100%;
        color: white;
        background-color: #333;
        width: 20rem;
        height: 200vh;
        transition: 0.2s;
    }

    .navbar .navbar-button.active {
        right: 0;
    }

    .navbar .navbar-button a {
        color: #4f4f4f;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-button a {
        color: white;
    }

    .navbar .navbar-extra #custom {
        font-size: 70%;
        width: 200px;
        max-height: 100px;
    }

    .search-bar {
        padding: 0.5rem;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        width: 200px;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .navbar .navbar-extra #custom {
        font-size: 50%;
        width: 100px;
        max-height: 100px;
    }

    .search-bar {
        width: 200px;
        height: 25px;
    }

    .product-container {
        max-width: 400px;
    }

    .product-card {
        width: 175px;
    }
}