@font-face {
    font-family: 'Urban Jungle';
    src: url('fonts/UrbanJungle.otf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(186, 186, 186);
    color: white;
    padding-top: 80px;
}

.navbar {
    font-family: 'Urban Jungle', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1.4rem 7%;
    background-color: rgb(49, 49, 49);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-size: 20px;
}

.navbar .logo {
    font-size: 4rem;
    color: white;
}

.navbar .logo span {
    color: rgb(217, 176, 127);
    margin-right: 7rem;
}

/* * {
    border: 1px solid red;
} */

.navbar .navbar-button {
   display: flex;
   gap: 1rem;
}

.navbar .navbar-button a {
    color: white;
    display: inline-block;
    font-size: 200%;
    display: flex;
    align-items: center;
}

.navbar .navbar-button a:hover {
    color: rgb(217, 176, 127);
    transition: 0.2s;
}

.navbar .navbar-extra {
    display: flex;
}

.navbar .navbar-extra #custom {
    font-size: 100%;
    align-items: center;
    background-color: rgb(215, 108, 108);
    padding: 1rem 1rem;
    border-radius: 15px;
    display: inline-block;
    transition: 0.2s;
    width: 200px;
    max-height: 100px;
    text-align: center;
}

.navbar .navbar-extra #custom:hover {
    color: white;
    background-color: rgb(167, 7, 7);
}

.navbar .navbar-extra a {
    color: white;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: rgb(217, 176, 127);
    transition: 0.2s;
}

.search-bar-class {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #333;
}

.search-bar {
    padding: 0.5rem;
    padding-right: 30px; /* Make room for the icon */
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 250px;
    transition: width 0.4s ease-in-out;
}

/* Tambahkan CSS untuk tampilan product-card yang disembunyikan */
.product-card {
    transition: opacity 0.2s ease-in-out;
}

.product-card.hidden {
    opacity: 0;
    visibility: hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 0.5em;
    border: none;
    text-decoration: none;
}

.dropdown-content {
    display: none; /* Disembunyikan secara default */
    position: absolute;
    background-color: #4f4f4f;
    min-width: 360px;
    padding: 25px 0 25px 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Menampilkan dropdown saat di-klik dengan kelas "show" */
.dropdown-content.show {
    display: block;
    opacity: 88%;
}


.category-title {
    font-family: 'Urban Jungle', sans-serif;
    font-size: 5rem;
    color: white;
    margin-bottom: 2rem;
    padding-bottom: 10px;
    margin-left: 650px;
    margin-top: 4rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid #ffffff;
    width: 70rem;
}

.product-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-left: 600px;
    padding-bottom: 20px;
}

.product-card {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 1rem;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-name {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.product-price {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.all-conta {
    display: flex;
}

.product-section {
    width: 80%; /* Lebar container product */
    padding: 20px;
}

.filter-section {
    position: fixed;
    color: black;
    order: 1;
    width: 20%; /* Lebar container filter */
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    max-width: 300px;
    /* height: 200px; */
    margin-top: 100px;
    right: 200px;
}

.filter-section h3 {
    font-family: 'Urban Jungle', sans-serif;
    font-size: 18px;
    color: rgb(239, 164, 72);
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-container input[type="checkbox"] {
    margin-top: 8px;
    margin-right: 10px;
}

.checkbox-container label {
    margin-right: 210px;
}

.filter-section input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.filter-section button {
    width: 100%;
    padding: 10px;
    background-color: rgb(217, 176, 127);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.filter-section button:hover {
    background-color: rgb(239, 164, 72);
    transition: 0.1s;
}